* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    
    --color-golden: #D5A021;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-spanishGray: #A49694;
    --color-dimGray: #736B60;
    --color-white: #FFFFFF;
    --color-darkLava: #4B4237;
    --color-alabaster: #EDE7D9;
}

body {
    width: 1420px;
    margin: 0 auto;
    /* margin: 5px 20px 20px 20px; */
    background-color: var(--color-crimson);
    color: var(--color-black);
}

.flex__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__wrapper {
    margin: 5px 0px 30px 0px;
}

.header__wrapper img {
    width: 180px;
    height: 100px;
    margin-right: 10px;
}

.header__wrapper_content h1 {
    font-size: 55px;
}

.header__wrapper_content p {
    font-size: 18px;
    font-style: italic;
}

.nav__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.nav__wrapper a {
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    color: var(--color-black);
}

.main__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.main__wrapper img {
    width: 400px;
    height: 225px;
}

.main__wrapper h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.main__wrapper h3 {
    width: 440px;
    height: 40px;
    display: inline-block;
}

.main__firstSection, .main__secondSection {
    width: 100%;
}

.main__firstSection_content, .main__secondSection_content {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 2000px) {
    .main__firstSection_content, .main__secondSection_content {
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 60px;
    }
}

@media (max-width: 900px) {
    body, .header__wrapper {
        width: 100%;
    }

    .header__wrapper img {
        margin-right: 20px;
    }

    .nav__wrapper a {
        padding: 0px;
        margin-right: 15px;
    }

    .main__firstSection h2, .main__secondSection h2 {
        width: 300px;
        padding-left: 80px;
    }

    .main__firstSection_content, .main__secondSection_content {
        flex-direction: column;
    }

    .main__wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .main__wrapper img {
        width: 650px;
        height: 350px;
    }

}

@media screen and (max-width: 700px) {
    body {
        width: 350px;
    }

    .header__wrapper_content h1 {
        font-size: 36px;
    }

    .header__wrapper img {
        width: 120px;
        height: 70px;
        margin: 0px;
    }

    .nav__wrapper  {
        display: none;
    }

    .nav__wrapper a {
        margin: 0px;
    }

    .main__wrapper h3 {
        width: 350px;
    }

    .main__wrapper img {
        width: 99%;
        height: 225px;
    }

    .main__firstSection h2, .main__secondSection h2 {
        width: 90%;
        padding-left: 0px;
    }

    .main__firstSection_content, .main__secondSection_content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
}