/***** ROOT CSS *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    
    --color-golden: #D5A021;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-spanishGray: #A49694;
    --color-dimGray: #736B60;
    --color-white: #FFFFFF;
    --color-darkLava: #4B4237;
    --color-alabaster: #EDE7D9;

    --color-blackCoffee: #443742;
}

@font-face {
    font-family: "Oswald Regular";
    src: url(../../font/oswald/Oswald-Regular.ttf);
  }

body {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    /* margin: 5px 20px 20px 20px; */
    background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: 'Times New Roman', Times, serif;
}

.linkToArticle a {
    text-decoration: none;
    color: black;
}

.main__wrapper img {
    width: 400px;
    height: 225px;
}

/********** HEADER CSS **********/
.header__wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10px;
    margin-bottom: 30px;
}

.header__wrapper img {
    height: 100%;
    margin-right: 20px;
}

.header__wrapper_content h1 {
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav__wrapper a {
    font-size: 18px;
    color: var(--color-black);
    text-decoration: none;
    font-weight: bold;

    margin-right: 10px;
}

/********** HOME PAGE CSS **********/
.main__wrapper {
    display: flex;
    flex-direction: column;
}

.main__firstSection_content, .main__secondSection_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
}

.main__wrapper h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.main__wrapper h3 {
    width: 400px;
    height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
}

.newsArticle {
    width: 400px;
}

/********** FOOTER CSS **********/
.footer__wrapper {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/********** ARTICLE CSS **********/
.mainArticle__content {
    display: flex;
    flex-direction: column;
}

.mainArticle__content_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainArticle__content_header_date {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;

    color: var(--color-spanishGray);
}

.mainArticle__content--h1 {
    display: inline-block;
    width: 80%;
    margin-bottom: 10px;
}

.mainArticle__content--h2 {
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 10px;
}

.mainArticle__content--img {
    height: 600px;
}

.mainArticle__content--p {
    margin: 10px 0px 10px 0px;
    font-size: 18px;
}


/********** INSERT PAGE **********/
.article__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Oswald Regular", 'Times New Roman', Times, serif;
}

.form__section {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-blackCoffee);
    border-radius: 10px;

    padding: 15px 15px;
}

.form__section h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.form__section label {
    font-size: 20px;
}

.form__section input, textarea, select {
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form_header_wrapper {
    margin-bottom: 10px;
}

.form_header {
    width: 89%;
    height: 30px;
    float: right;
}

.form_summary {
    width: 100%;
    height: 100px;
}

.form_main {
    width: 100%;
    height: 300px;
}

.form_submit {
    width: 300px;
    height: 40px;

    background-color: var(--color-blackCoffee);
    color: var(--color-alabaster);
    border: 1px solid var(--color-alabaster);

    transition: all 1 ease-in;
}

.form_submit:hover {
    background-color: var(--color-alabaster);
    color: var(--color-black);

    cursor: pointer;
}

.form_submit_wrapper {
    text-align: center;
}



/***** Media Queries  *****/
@media (max-width: 1600px) {
    body {
        width: 1000px;
    }

    .main__wrapper h3 {
        width: 330px;
    }

    .main__wrapper img {
        width: 330px;
        height: 175px;
    }

    .main__wrapper {
        justify-content: space-evenly;
        align-items: center;
    }

    .main__firstSection_content, .main__secondSection_content {
        justify-content: center;
    }

    /***** INSERT PAGE *****/
    .form_header {
        width: 100%;
    }

    /***** ARTICLE PAGE *****/
    .mainArticle__content--img {
        height: auto;
    }
}

@media (max-width: 1000px) {
    body {
        width: 650px;
    }

    .main__wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .main__wrapper img {
        width: 90%;
        height: auto;
    }

    .main__wrapper h3 {
        width: 100%;
    } 

    .main__firstSection, .main__secondSection {
        width: 100%;
    }

    .main__firstSection_content, .main__secondSection_content {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    body {
        width: 100%;
    }

    .nav__wrapper {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
        align-items: center;
    }

    .header__wrapper img {
        width: 100px;
        height: 60px;
        margin-right: 5px;
    }

    .header__wrapper_content h1 {
        font-size: 34px;
        padding-top: 15px;
    }    

    .main__wrapper img {
        width: 350px;
        height: 170px;
    }

    .main__wrapper h3 {
        width: 100%;
    }

    .main__wrapper {
        justify-content: center;
        align-items: center;
    }

    .main__firstSection, .main__secondSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__firstSection_content, .main__secondSection_content {
        justify-content: center;
        align-items: center;
    }

    /***** ARTICLE PAGE *****/
    .mainArticle__content_header {
        flex-direction: column;
        justify-content: baseline;
    }
    .mainArticle__content--h1 {
        width: 100%;
    }

    .mainArticle__content {
        margin-left: 10px;
        margin-right: 10px;
    }
}